body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.acai-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: purple;
    color: white;
    font-size: 1.5em;
    border-radius: 10px;
    margin: 50px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 600px;
}

.close {
    color: white;
    font-size: 2em;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: purple;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #862d82;
}

.historico {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }